<div class="card-list">
  {{ range first 10 . }}
  <article class="card">
    <header>
      <h2>
        <a href="{{ .Permalink }}" class="no-link-style"> {{ .Title }}</a>
      </h2>
      {{ with (.GetTerms "tags") }}
      <div class="tag-list">
        <i class="fas fa-tags"></i>
        {{ range . }}<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
      {{ end }}
      <div class="post-meta">
        <i class="far fa-calendar-alt"></i>
        {{ .Date.Format "Jan 2, 2006" }} by
        <i class="fas fa-user-circle"></i>
        hwuhsi
      </div>
    </header>
    <footer>
      <a href="{{ .Permalink }}" class="no-link-style">
        <nobr>Read more →</nobr>
      </a>
    </footer>
  </article>
  {{ end }}
</div>
